.sell {
    width: 1512px;
    background: #FFFFFF;
    margin: 0 auto;
    padding-top: 131px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sell-title {
    width: 180px;
    height: 44px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 43px;
    /* top 218px - 131px - 44px */
}

.sell-form-section {
    width: 680px;
    margin-bottom: 70px;
}

.sell-section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.sell-image {
    width: 680px;
    height: 150px;
    border: 1px dashed #5F5F5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sell-image-upload {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sell-image-button {
    display: inline-block;
    width: 165px;
    height: 43px;
    line-height: 43px;
    background: #FF5555;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.sell-image-input {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #5F5F5F;
    background: none;
    border: none;
    display: block;
    width: 250px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sell-image-input::file-selector-button {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
    float: left;
}

.sell-image-input::-webkit-file-upload-button {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
    float: left;
}

.sell-section-header {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 12px;
    margin-bottom: 36px;
    color: #5F5F5F;
}

.sell-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 31px;
}

.sell-category-checkbox {
    display: none;
}

.sell-category-tag {
    display: inline-block;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #FF5555;
    border-radius: 16px;
    color: #FF5555;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.sell-category-checkbox:checked+.sell-category-tag {
    background: #FF5555;
    color: #FFFFFF;
}

.sell-input {
    margin-bottom: 36px;
}

.sell-input-label {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.sell-text-input,
.sell-textarea-input,
select.sell-select-box {
    width: 680px;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}

.sell-textarea-input {
    height: 125px;
    padding-top: 10px;
    resize: none;
}

.sell-select select {
    width: 680px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #5F5F5F;
    font-size: 16px;
    font-weight: 700;
    padding-left: 15px;
    cursor: pointer;
}

.sell-select select:focus {
    background: #636769;
    color: #FFFFFF;
    border: 1.5px solid #B1B1B1;
}

.sell-select select option {
    background: #636769;
    color: #FFFFFF;
}

.sell-price {
    position: relative;
    width: 680px;
}

.sell-price-symbol {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 700;
}

.sell-price-input {
    width: 680px;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 700;
}

.sell-button-submit {
    width: 680px;
    height: 60px;
    background: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 139px;
    transition: opacity 0.3s;
}

.sell-button-submit:hover {
    opacity: 0.9;
}

.form__error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}